DB_HOST=localhost
DB_PORT=5433
DB_NAME=a1_sql_practice
DB_USER=postgres
DB_PASSWORD=your_password_here
EMAIL_SENDER=your_email@example.com
EMAIL_PASSWORD=your_app_password_here
EMAIL_RECIPIENT=recipient@example.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_ALERT_ENABLED=false
